@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The brain is a network.</h1>
    <p class="lead">
        The key to writing a story is planning ahead, and <br />
        knowing every bit of detail. MindMap is a web application <br />
        meant to help you do just that.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Get Started Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is MindMap?</h2>
        <p>
            MindMap is a free open-source web-application developed in Microsoft's .NET Framework, it
            was built as a tool to help storytellers organize their plots, their characters, scenes,
            and whatnot. Mindmap offers a wide array of tools that help you stay organized.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open-source</h2>
        <p>
            Every software should be open-source. MindMap is no different. You can help us improve the
            app by forking our repository and submiting a pull request.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Imagination is free.</h2>
        <p>
            MindMap started out as a personal education project; its creator was a writer who
            needed a way to organize his own ideas, so he made MindMap. Why should we charge
            you a dime for using this simple application? We refuse to place advertisements
            or include pro-features.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more</a></p>
    </div>
</div>